* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
}

.nav--container {
  background-color: #f55a5a;
  font-family: Inter;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

span {
  font-size: 25px;
  line-height: 18px;
  line-height: 100%;
  color: white;
  margin: 0;
}

.nav--img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
